In [13]:
import pandas as pd
import os
from functools import reduce
import csv

In [3]:

col_path = "dataforfinalproject/RawDataFiles/Codebooks"

In [25]:
cols_df_list = [pd.read_csv(os.path.join(col_path, file), header = None, names = ['Cols']) for file in os.listdir(col_path) \
     if file.endswith("txt")]

In [31]:
cols_df_list[4].head()

         Cols
0       DOEID
1     REGIONC
2    DIVISION
3  METROMICRO
4     UATYP10

In [35]:
for l in cols_df_list:
    l.Cols = l.Cols.apply(lambda r : r.strip())

In [38]:
commonCols_DF = reduce(lambda x,y: pd.merge(x,y, on="Cols"),cols_df_list)

In [41]:
commonCols_DF.to_csv(os.path.join(col_path, "Cols_common_allyears.txt"), index = False, header = None)

In [47]:
commonCols_DF.head()

       Cols
0     DOEID
1   NWEIGHT
2   REGIONC
3  DIVISION
4   TYPEHUQ

In [50]:
details_2015 = pd.read_excel(os.path.join(col_path, "Codebook_allyears.xlsx"), sheet_name = "2015")
details_2015 = details_2015[['SAS Variable Name','Type','Variable Description']]

details_2015.columns = ['Cols','Type','Descr']
details_2015.head()

         Cols       Type                                              Descr
0       DOEID  Character              Unique identifier for each respondent
1     REGIONC    Numeric                                      Census Region
2    DIVISION    Numeric                                    Census Division
3  METROMICRO  Character  Housing unit in Census Metropolitan Statistica...
4     UATYP10  Character                             Census 2010 Urban Type

In [54]:
pd.merge(details_2015, commonCols_DF, on = "Cols", how= "inner").to_csv(os.path.join(col_path, "Cols_common_allyears.csv"), index = False)