In [1]:
import pandas as pd
import os
from functools import reduce
import csv

In [13]:

col_path = "dataforfinalproject/RawDataFiles/Codebooks"

In [14]:
cols_df_list = [pd.read_csv(os.path.join(col_path, file), header = None, names = ['Cols']) for file in os.listdir(col_path) \
     if file.endswith("txt")]

In [16]:
cols_df_list[1].head()

         Cols
0       DOEID
1     REGIONC
2    DIVISION
3  METROMICRO
4     UATYP10

In [17]:
for l in cols_df_list:
    l.Cols = l.Cols.apply(lambda r : r.strip())

In [18]:
commonCols_DF = reduce(lambda x,y: pd.merge(x,y, on="Cols"),cols_df_list)

In [41]:
commonCols_DF.to_csv(os.path.join(col_path, "Cols_common_allyears.txt"), index = False, header = None)

In [19]:
commonCols_DF.count()

Cols    365
dtype: int64

In [20]:
details_2015 = pd.read_excel(os.path.join(col_path, "Codebook_allyears.xlsx"), sheet_name = "2015")
details_2015 = details_2015[['SAS Variable Name','Type','Variable Description']]

details_2015.columns = ['Cols','Type','Descr']
details_2015.head()

         Cols       Type                                              Descr
0       DOEID  Character              Unique identifier for each respondent
1     REGIONC    Numeric                                      Census Region
2    DIVISION    Numeric                                    Census Division
3  METROMICRO  Character  Housing unit in Census Metropolitan Statistica...
4     UATYP10  Character                             Census 2010 Urban Type

In [21]:
final = pd.merge(details_2015, commonCols_DF, on = "Cols", how= "inner")
final

,Cols,Type,Descr
0,DOEID,Character,Unique identifier for each respondent
1,REGIONC,Numeric,Census Region
2,DIVISION,Numeric,Census Division
3,METROMICRO,Character,Housing unit in Census Metropolitan Statistica...
4,TYPEHUQ,Numeric,Type of housing unit
5,CELLAR,Numeric,Housing unit over a basement
6,ZCELLAR,Numeric,Imputation flag for CELLAR
7,BASEFIN,Numeric,Finished basement
8,ZBASEFIN,Numeric,Imputation flag for BASEFIN
9,ATTIC,Numeric,Attic above the housing unit
10,ZATTIC,Numeric,Imputation flag for ATTIC
11,ATTICFIN,Numeric,Finished attic
12,ZATTICFIN,Numeric,Imputation flag for ATTICFIN
13,STORIES,Numeric,Number of stories in a single-family home
14,ZSTORIES,Numeric,Imputation flag for STORIES
15,PRKGPLC1,Numeric,Attached garage
16,ZPRKGPLC1,Numeric,Imputation flag for PRKGPLC1
17,SIZEOFGARAGE,Numeric,Size of attached garage
18,ZSIZEOFGARAGE,Numeric,Imputation flag for SIZEOFGARAGE
19,KOWNRENT,Numeric,Own or rent
20,ZKOWNRENT,Numeric,Imputation flag for KOWNRENT
21,YEARMADERANGE,Numeric,Range when housing unit was built
22,ZYEARMADERANGE,Numeric,Imputation flag for YEARMADERANGE
23,OCCUPYYRANGE,Numeric,Range when household moved in
24,ZOCCUPYYRANGE,Numeric,Imputation flag for OCCUPYYRANGE
25,STUDIO,Numeric,Studio apartment
26,ZSTUDIO,Numeric,Imputation flag for STUDIO
27,BEDROOMS,Numeric,Number of bedrooms
28,ZBEDROOMS,Numeric,Imputation flag for BEDROOMS
29,NCOMBATH,Numeric,Number of full bathrooms
...,...,...,...
335,GALLONLP,Numeric,"Total propane usage, in gallons, 2015"
336,GALLONLPSPH,Numeric,"Propane usage for space heating, main and seco..."
337,GALLONLPWTH,Numeric,"Propane usage for water heating, main and seco..."
338,BTULP,Numeric,"Total propane usage, in thousand Btu, 2015"
339,BTULPSPH,Numeric,"Propane usage for space heating, main and seco..."
340,BTULPWTH,Numeric,"Propane usage for water heating, main and seco..."
341,DOLLARLP,Numeric,"Total cost of propane, in dollars, 2015"
342,DOLLPSPH,Numeric,"Propane cost for space heating, main and secon..."
343,DOLLPWTH,Numeric,"Propane cost for water heating, main and secon..."
344,GALLONFO,Numeric,"Total fuel oil/kerosene usage, in gallons, 2015"
345,GALLONFOSPH,Numeric,"Fuel oil/kerosene usage for space heating, mai..."
346,GALLONFOWTH,Numeric,"Fuel oil/kerosene usage for water heating, mai..."
347,BTUFO,Numeric,"Total fuel oil/kerosene usage, in thousand Btu..."
348,BTUFOSPH,Numeric,"Fuel oil/kerosene usage for space heating, mai..."
349,BTUFOWTH,Numeric,"Fuel oil/kerosene usage for water heating, mai..."
350,DOLLARFO,Numeric,"Total cost of fuel oil/kerosene, in dollars, 2015"
351,DOLFOSPH,Numeric,"Fuel oil/kerosene cost for space heating, main..."
352,DOLFOWTH,Numeric,"Fuel oil/kerosene cost for water heating, main..."
353,TOTALBTU,Numeric,"Total usage, in thousand Btu, 2015"
354,TOTALDOL,Numeric,"Total cost, in dollars, 2015"
355,TOTALBTUSPH,Numeric,"Total usage for space heating, main and second..."
356,TOTALDOLSPH,Numeric,"Total cost for space heating, main and seconda..."
357,TOTALBTUWTH,Numeric,"Total usage for water heating, main and second..."
358,TOTALDOLWTH,Numeric,"Total cost for water heating, main and seconda..."
359,WOODAMT,Numeric,Cords of wood used in the last year
360,ZWOODAMT,Numeric,Imputation flag for WOODAMT
361,PERIODEL,Numeric,Number of days covered by Energy Supplier Surv...
362,PERIODNG,Numeric,Number of days covered by Energy Supplier Surv...
363,PERIODFO,Numeric,Number of days covered by Energy Supplier Surv...
364,PERIODLP,Numeric,Number of days covered by Energy Supplier Surv...

In [22]:
final.to_csv(os.path.join(col_path, "Cols_common_2009-2015.csv"), index = False)