In [1]:
import csv
import pandas as pd

In [2]:
raw_df = pd.read_csv("../Project3/dataforfinalproject/Final_feature_selection_price.csv")

In [6]:
first_sample = raw_df[1:1001]

In [10]:
second_sample = raw_df[1001:2001]

In [13]:
third_sample = raw_df[10000:11001]

In [16]:
fourth_sample = raw_df[12000:13001]

In [15]:
third_sample.tail()

,REGIONC,DIVISION,CELLAR,STORIES,PRKGPLC1,YEARMADE,OCCUPYY,BEDROOMS,NCOMBATH,NHAFBATH,...,DOLELRFG,DOLELOTH,TOTALBTU,WOODAMT,RECBATH,NUMFRIG,LPWATER,TVAUDIOEQUIP,PCOFFEQUIP,PHONE
10996,3,7,0,10,1,1975,8,3,2,0,...,108.93,451.54,42336.01,-2.0,0,1,0,4,0,1
10997,2,3,0,10,1,1968,7,3,1,0,...,108.82,758.69,69639.00,-2.0,0,1,0,9,0,2
10998,4,8,1,40,1,2001,7,3,2,1,...,95.98,886.67,106461.01,-2.0,0,1,0,10,10,2
10999,2,3,1,20,1,1920,5,3,2,0,...,133.42,805.83,221740.99,-2.0,0,1,0,6,5,2
11000,3,5,-2,-2,-2,1980,8,1,1,0,...,92.16,175.46,55039.99,-2.0,0,1,0,2,3,0

In [17]:
first_sample.to_csv("../Project3/dataforfinalproject/firstsample.csv")

In [18]:
second_sample.to_csv("../Project3/dataforfinalproject/secondsample.csv")

In [19]:
third_sample.to_csv("../Project3/dataforfinalproject/thirdsample.csv")

In [ ]:
fourth_sample.to_csv("../Project3/dataforfinalproject/fourthsample.csv")