In [47]:
import pandas as pd
import numpy as np

import csv
import os

In [48]:
dataFilePath = "dataforfinalproject"
datafile = "predict_sample.csv"
colfile = "Final_Columns_withCat.csv"

In [49]:
data_DF = pd.read_csv(os.path.join(dataFilePath, datafile))
df_cols = pd.read_csv(os.path.join(dataFilePath, colfile ), quotechar = '"', quoting = 0)

In [50]:
data_DF

,RECSYEAR,COUNTRY,DOEID,REGIONC,REGIONNAME,DIVISION,DIVISIONNAME,TYPEHUQ,CELLAR,STORIES,...,WDPELLET,WDOTHER,WDWARM,WDWATER,USESOLAR,SOLWATER,SOLOTHER,TVAUDIOEQUIP,PCOFFEQUIP,PHONE
0,2001,United States,1015,1,Northeast,2,Middle Atlantic,2,0,20,...,9,0,0,0,0,0,0,5,4,2
1,2001,United States,2027,3,South,5,South Atlantic,4,0,10,...,9,0,0,0,0,0,0,2,0,1
2,2009,United States,11041,4,West,10,Pacific,2,0,10,...,0,0,1,0,0,0,0,6,0,2
3,2015,United States,15226,2,Midwest,4,West North Central,3,0,20,...,-2,-2,0,0,0,0,0,6,3,1
4,2015,United States,12871,4,West,8,Mountain,3,1,10,...,-2,-2,0,0,0,0,0,7,1,1
5,2001,United States,1001,1,Northeast,1,New England,2,1,31,...,9,0,0,0,0,0,0,8,2,3

In [51]:
keyData = data_DF[df_cols[df_cols.FEATURES_MODEL == "Y"].COLUMN_NAME]
keyData

,REGIONC,DIVISION,CELLAR,STORIES,PRKGPLC1,YEARMADE,OCCUPYY,BEDROOMS,NCOMBATH,NHAFBATH,...,DOLELOTH,TOTALBTU,TOTALDOLLAR,WOODAMT,RECBATH,NUMFRIG,LPWATER,TVAUDIOEQUIP,PCOFFEQUIP,PHONE
0,1,2,0,20,1,2,9,4,1,0,...,1043.00,96923.00,1885.00,0,0,1,0,5,4,2
1,3,5,0,10,9,5,1,1,1,0,...,151.00,25383.00,478.00,0,0,1,0,2,0,1
2,4,10,0,10,0,1,2,5,2,0,...,224.11,15644.00,530.00,3,0,1,0,6,0,2
3,2,4,0,20,0,1,5,3,2,0,...,711.18,90917.01,1598.29,-2,0,2,0,6,3,1
4,4,8,1,10,1,7,7,3,3,0,...,1170.91,98734.79,1996.64,-2,0,2,0,7,1,1
5,1,1,1,31,1,9,9,6,2,1,...,1105.00,149495.00,2767.00,0,0,1,0,8,2,3

In [52]:
# Drop Price / Cost related Columns as it is only Consumption we are interested in 
cost_cols = df_cols[(df_cols['COLUMN_NAME'].str.find("DOL") != -1) & (df_cols.FEATURES_MODEL == "Y")].COLUMN_NAME.tolist()
keyData.drop(cost_cols, axis = 1, inplace = True)

# Also drop the Total BTU cols 
btu_cols = df_cols[(df_cols['COLUMN_NAME'].str.find("TOTALBTU") != -1) & (df_cols.FEATURES_MODEL == "Y")].COLUMN_NAME.tolist()
keyData.drop(btu_cols, axis = 1, inplace = True)

In [53]:
keyData

,REGIONC,DIVISION,CELLAR,STORIES,PRKGPLC1,YEARMADE,OCCUPYY,BEDROOMS,NCOMBATH,NHAFBATH,...,BTUELRFG,BTUELOTH,BTUFO,WOODAMT,RECBATH,NUMFRIG,LPWATER,TVAUDIOEQUIP,PCOFFEQUIP,PHONE
0,1,2,0,20,1,2,9,4,1,0,...,3271.000,25874.000,71009,0,0,1,0,5,4,2
1,3,5,0,10,9,5,1,1,1,0,...,3325.000,5793.000,0,0,0,1,0,2,0,1
2,4,10,0,10,0,1,2,5,2,0,...,1510.670,6615.650,0,3,0,1,0,6,0,2
3,2,4,0,20,0,1,5,3,2,0,...,2642.909,17353.910,0,-2,0,2,0,6,3,1
4,4,8,1,10,1,7,7,3,3,0,...,3686.343,30618.358,0,-2,0,2,0,7,1,1
5,1,1,1,31,1,9,9,6,2,1,...,5595.000,33750.000,0,0,0,1,0,8,2,3

In [54]:
keyData_new = keyData.T.reset_index()

In [55]:
df_cols.columns

Index(['COLUMN_NAME', 'COLUMN_CAT_ABBR', 'COLUMN_CATEGORY',
       'COLUMN_DESCRIPTION', 'FEATURES_MODEL', 'COLUMN_TYPE', 'REQ_ONEHOTENC'],
      dtype='object')

In [56]:
keyData_fnl = pd.merge(keyData_new, df_cols[['COLUMN_NAME', 'COLUMN_CATEGORY']], left_on = "index", right_on = "COLUMN_NAME")

In [57]:
keyData_fnl.drop(['index'], axis = 1, inplace = True)

In [58]:
keyData_fnl.set_index("COLUMN_NAME", inplace = True)
keyData_fnl.columns = ['SAMPLE_1','SAMPLE_2','SAMPLE_3','SAMPLE_4','SAMPLE_5','SAMPLE_6','COLUMN_CATEGORY']

In [60]:
keyData_fnl.head()

,SAMPLE_1,SAMPLE_2,SAMPLE_3,SAMPLE_4,SAMPLE_5,SAMPLE_6,COLUMN_CATEGORY
COLUMN_NAME,,,,,,,
REGIONC,1.0,3.0,4.0,2.0,4.0,1.0,CommonVariables
DIVISION,2.0,5.0,10.0,4.0,8.0,1.0,CommonVariables
CELLAR,0.0,0.0,0.0,0.0,1.0,1.0,Housing Unit Characteristics
STORIES,20.0,10.0,10.0,20.0,10.0,31.0,Housing Unit Characteristics
PRKGPLC1,1.0,9.0,0.0,0.0,1.0,1.0,Housing Unit Characteristics

In [61]:
keyData_fnl.to_csv(os.path.join(dataFilePath, "SampleGen.csv"))