## Data Exploration and Understanding correlations
This script primarily explores RECS data to understand
1. distinction in data features (categorical, numerical, possible predictors and outputs)
2. Understand correlation between features
3. Any missing / duplicate values
4. Data requiring one-hot encoding

In [2]:
# IMport dependencies
import pandas as pd
import os
import csv

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# set global variables
dataFilePath = "dataforfinalproject"
filename = "RECS_COMBINED_DATA.csv"
cols_file = "Final_Columns_withCat.csv"

In [3]:
df_recs = pd.read_csv(os.path.join(dataFilePath, filename), low_memory= False)
df_cols = pd.read_csv(os.path.join(dataFilePath, cols_file))

In [5]:
df_recs.head(2)

,DOEID,REGIONC,DIVISION,METROMICRO,UATYP10,TYPEHUQ,ZTYPEHUQ,CELLAR,ZCELLAR,BASEFIN,...,ZELAMOUNT,NGXBTU,PERIODNG,ZNGAMOUNT,FOXBTU,PERIODFO,ZFOAMOUNT,LPXBTU,PERIODLP,ZLPAMOUNT
0,10001,4,10,METRO,U,2,0,0,0,-2,...,0,103.32,1,0,137.45,-2,-2,91.33,-2,-2
1,10002,3,7,NONE,R,2,0,0,0,-2,...,1,NaN,-2,-2,137.45,-2,-2,91.33,-2,-2

In [7]:
df_nan = df[df.isnull().values]

In [14]:
df.isna().any()[lambda x: x]

NGXBTU    True
dtype: bool

In [17]:
#NGXBTU     is not required so drop the col
df.drop(labels = ['NGXBTU'], axis = 1, inplace = True)

In [20]:
df.isnull().values.sum()

0

In [23]:
df.describe()

,DOEID,REGIONC,DIVISION,TYPEHUQ,ZTYPEHUQ,CELLAR,ZCELLAR,BASEFIN,ZBASEFIN,ATTIC,...,PERIODEL,ZELAMOUNT,PERIODNG,ZNGAMOUNT,FOXBTU,PERIODFO,ZFOAMOUNT,LPXBTU,PERIODLP,ZLPAMOUNT
count,5686.000000,5686.000000,5686.000000,5686.000000,5686.0,5686.000000,5686.000000,5686.000000,5686.000000,5686.000000,...,5686.000000,5686.000000,5686.000000,5686.000000,5686.000000,5686.000000,5686.000000,5.686000e+03,5686.000000,5686.000000
mean,12843.500000,2.760816,5.670243,2.596025,0.0,-0.205593,-0.505276,-1.199261,-1.381815,-0.111854,...,1.454801,0.109040,0.181674,-0.731094,137.441423,-1.738305,-1.872318,9.133000e+01,-1.479071,-1.748505
std,1641.551147,1.004187,2.842655,1.164641,0.0,1.134775,0.880288,1.235166,0.933693,1.187953,...,1.250216,0.311716,2.197037,1.117215,0.142739,1.197667,0.558504,5.230054e-12,1.663040,0.767910
min,10001.000000,1.000000,1.000000,1.000000,0.0,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,1.000000,0.000000,-2.000000,-2.000000,135.000000,-2.000000,-2.000000,9.133000e+01,-2.000000,-2.000000
25%,11422.250000,2.000000,3.000000,2.000000,0.0,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,1.000000,0.000000,-2.000000,-2.000000,137.450000,-2.000000,-2.000000,9.133000e+01,-2.000000,-2.000000
50%,12843.500000,3.000000,5.000000,2.000000,0.0,0.000000,0.000000,-2.000000,-2.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,137.450000,-2.000000,-2.000000,9.133000e+01,-2.000000,-2.000000
75%,14264.750000,4.000000,8.000000,3.000000,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,...,1.000000,0.000000,1.000000,0.000000,137.450000,-2.000000,-2.000000,9.133000e+01,-2.000000,-2.000000
max,15686.000000,4.000000,10.000000,5.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,1.000000,5.000000,1.000000,137.450000,5.000000,1.000000,9.133000e+01,5.000000,1.000000

In [ ]:
#separate out predictors