In [1]:
import pandas as pd
import os
from functools import reduce
import csv

In [2]:

col_path = "dataforfinalproject/RawDataFiles/Codebooks"

In [3]:
cols_df_list = [pd.read_csv(os.path.join(col_path, file), header = None, names = ['Cols']) for file in os.listdir(col_path) \
     if file.endswith("txt")]

In [5]:
cols_df_list[2].head()

         Cols
0       DOEID
1     REGIONC
2    DIVISION
3  METROMICRO
4     UATYP10

In [6]:
for l in cols_df_list:
    l.Cols = l.Cols.apply(lambda r : r.strip())

In [7]:
commonCols_DF = reduce(lambda x,y: pd.merge(x,y, on="Cols"),cols_df_list)

In [41]:
commonCols_DF.to_csv(os.path.join(col_path, "Cols_common_allyears.txt"), index = False, header = None)

In [9]:
commonCols_DF.count()

Cols    297
dtype: int64

In [10]:
details_2015 = pd.read_excel(os.path.join(col_path, "Codebook_allyears.xlsx"), sheet_name = "2015")
details_2015 = details_2015[['SAS Variable Name','Type','Variable Description']]

details_2015.columns = ['Cols','Type','Descr']
details_2015.head()

         Cols       Type                                              Descr
0       DOEID  Character              Unique identifier for each respondent
1     REGIONC    Numeric                                      Census Region
2    DIVISION    Numeric                                    Census Division
3  METROMICRO  Character  Housing unit in Census Metropolitan Statistica...
4     UATYP10  Character                             Census 2010 Urban Type

In [11]:
final = pd.merge(details_2015, commonCols_DF, on = "Cols", how= "inner")
final

          Cols       Type                                              Descr
0        DOEID  Character              Unique identifier for each respondent
1      REGIONC    Numeric                                      Census Region
2     DIVISION    Numeric                                    Census Division
3      TYPEHUQ    Numeric                               Type of housing unit
4       CELLAR    Numeric                       Housing unit over a basement
5      ZCELLAR    Numeric                         Imputation flag for CELLAR
6      BASEFIN    Numeric                                  Finished basement
7     ZBASEFIN    Numeric                        Imputation flag for BASEFIN
8        ATTIC    Numeric                       Attic above the housing unit
9       ZATTIC    Numeric                          Imputation flag for ATTIC
10    ATTICFIN    Numeric                                     Finished attic
11   ZATTICFIN    Numeric                       Imputation flag for ATTICFIN
12     STORIES    Numeric          Number of stories in a single-family home
13    ZSTORIES    Numeric                        Imputation flag for STORIES
14    PRKGPLC1    Numeric                                    Attached garage
15   ZPRKGPLC1    Numeric                       Imputation flag for PRKGPLC1
16    KOWNRENT    Numeric                                        Own or rent
17   ZKOWNRENT    Numeric                       Imputation flag for KOWNRENT
18      STUDIO    Numeric                                   Studio apartment
19     ZSTUDIO    Numeric                         Imputation flag for STUDIO
20    BEDROOMS    Numeric                                 Number of bedrooms
21   ZBEDROOMS    Numeric                       Imputation flag for BEDROOMS
22    NCOMBATH    Numeric                           Number of full bathrooms
23   ZNCOMBATH    Numeric                       Imputation flag for NCOMBATH
24    NHAFBATH    Numeric                           Number of half bathrooms
25   ZNHAFBATH    Numeric                       Imputation flag for NHAFBATH
26    OTHROOMS    Numeric                              Number of other rooms
27   ZOTHROOMS    Numeric                       Imputation flag for OTHROOMS
28    TOTROOMS    Numeric  Total number of rooms in the housing unit, exc...
29    WALLTYPE    Numeric                        Major outside wall material
..         ...        ...                                                ...
267   DOLELCOL    Numeric  Electricity cost for air conditioning (central...
268   DOLELWTH    Numeric  Electricity cost for water heating, main and s...
269   DOLELRFG    Numeric  Electricity cost for all refrigerators, in dol...
270   CUFEETNG    Numeric  Total natural gas usage, in hundred cubic feet...
271      BTUNG    Numeric     Total natural gas usage, in thousand Btu, 2015
272   BTUNGSPH    Numeric  Natural gas usage for space heating, main and ...
273   BTUNGWTH    Numeric  Natural gas usage for water heating, main and ...
274   DOLLARNG    Numeric           Total natural gas cost, in dollars, 2015
275   DOLNGSPH    Numeric  Natural Gas cost for space heating, main and s...
276   DOLNGWTH    Numeric  Natural gas cost for water heating, main and s...
277   GALLONLP    Numeric              Total propane usage, in gallons, 2015
278      BTULP    Numeric         Total propane usage, in thousand Btu, 2015
279   BTULPSPH    Numeric  Propane usage for space heating, main and seco...
280   BTULPWTH    Numeric  Propane usage for water heating, main and seco...
281   DOLLARLP    Numeric            Total cost of propane, in dollars, 2015
282   DOLLPSPH    Numeric  Propane cost for space heating, main and secon...
283   DOLLPWTH    Numeric  Propane cost for water heating, main and secon...
284   GALLONFO    Numeric    Total fuel oil/kerosene usage, in gallons, 2015
285      BTUFO    Numeric  Total fuel oil/kerosene usage, in thousand Btu...
286   BTUFOSPH    Numeric  Fuel oil/kerosene usage for space heating, mai...
287   BTUFOWTH    Numeric  Fuel oil/kerosene usage for water heating, mai...
288   DOLLARFO    Numeric  Total cost of fuel oil/kerosene, in dollars, 2015
289   DOLFOSPH    Numeric  Fuel oil/kerosene cost for space heating, main...
290   DOLFOWTH    Numeric  Fuel oil/kerosene cost for water heating, main...
291    WOODAMT    Numeric                Cords of wood used in the last year
292   ZWOODAMT    Numeric                        Imputation flag for WOODAMT
293   PERIODEL    Numeric  Number of days covered by Energy Supplier Surv...
294   PERIODNG    Numeric  Number of days covered by Energy Supplier Surv...
295   PERIODFO    Numeric  Number of days covered by Energy Supplier Surv...
296   PERIODLP    Numeric  Number of days covered by Energy Supplier Surv...

[297 rows x 3 columns]

In [ ]:
final.to_csv(os.path.join(col_path, "Cols_common_allyears.csv"), index = False)