## Analysis of RECS data and derive regression models (XGBoost)

Preparation of data
1. Obtain and Filter the raw data to a dataset that consists of key features derived through Feature Engineering 
2. Replace values like 99, 9, -2 with Mode of the column
3. Perform one hot encoding for all categorical values

Running data Models
1. Split train and test data (75:25 ratio)
2. Run XGBOOST algo against train data
3. Use Test to validate prediction
4. Plot the residual and accuracy if possible

In [186]:
# IMport dependencies
import pandas as pd
from pandas import set_option
import numpy
import os
import csv

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

# import required libraries related to xgBoost and sci-kit learn
import xgboost as xgb
from sklearn.metrics import mean_squared_error

# from keras.utils import to_categorical

# import preprocessing from sklearn
from sklearn import preprocessing

# DictVectorizer
from sklearn.feature_extraction import DictVectorizer

### Import Data

In [2]:
# set global variables
dataFilePath = "dataforfinalproject"
filename = "RECS_COMBINED_DATA.csv"
cols_file = "Final_Columns_withCat.csv"

In [7]:
# read dataset wih all years combined data
df_recs = pd.read_csv(os.path.join(dataFilePath, filename), low_memory= False)

In [8]:
# read the columns from Columns csv
df_cols = pd.read_csv(os.path.join(dataFilePath, cols_file))
df_cols.columns

Index(['COLUMN_NAME', 'COLUMN_CAT_ABBR', 'COLUMN_CATEGORY',
       'COLUMN_DESCRIPTION', 'FEATURES_MODEL', 'COLUMN_TYPE', 'REQ_ONEHOTENC'],
      dtype='object')

In [215]:
# Whittle down the dataset to contain only Features required for modeling
modelDF = df_recs[df_cols[df_cols.FEATURES_MODEL == "Y"].COLUMN_NAME]
modelDF.shape

(26973, 86)

### Prepare Data

In [216]:
# describe the dataframe that will be used for model
descrDF = modelDF[df_cols[(df_cols.FEATURES_MODEL == "Y")].COLUMN_NAME].describe()
# transpose to make it easier to obtain columns with values of 99 and <0
descrDF = descrDF.transpose().reset_index()
descrDF
# obtain column names with values 99. 99 indicates missing or unavailable info. this needs to be replaced with MOde
cols99_2 = descrDF[(descrDF['max'] == 99.0) | (descrDF['min'] < 0) ]['index'].tolist()
# cols_2 = descrDF[descrDF['min'] == -2.0]['index'].tolist()

In [217]:
print(f"cols with values as 99 and -2: {cols99_2} \n")

# print(f"cols with values as -2 : {cols_2} ")

cols with values as 99 and -2: ['CELLAR', 'STORIES', 'PRKGPLC1', 'BEDROOMS', 'FUELPOOL', 'SIZRFRI1', 'TYPERFR1', 'AGERFRI1', 'SIZRFRI2', 'TYPERFR2', 'AGERFRI2', 'NUMFREEZ', 'SIZFREEZ', 'AGEFRZR', 'STOVENFUEL', 'OVENUSE', 'AMTMICRO', 'DWASHUSE', 'WASHLOAD', 'WASHTEMP', 'EQUIPM', 'FUELHEAT', 'EQUIPAGE', 'PROTHERM', 'TEMPHOME', 'TEMPGONE', 'TEMPNITE', 'AGECENAC', 'USECENAC', 'NUMBERAC', 'WWACAGE', 'USEWWAC', 'FUELH2O', 'WHEATAGE', 'WHEATSIZ', 'LGTOUTNUM', 'ESDISHW', 'PGASHEAT', 'WOODAMT']

In [218]:
# For all categorical columns, that have 99 and -2 , replace with Columns Mode value#
# step 1 - Fill na for thse values of 99 and -2
# Step 2: Fillna with mode

# step1 
modelCopy = modelDF.copy()
modelDF[cols99_2] = modelDF[cols99_2].applymap(lambda r : None if r in [99,-2] else r)


#step2 :
# modelDF[cols99_2].apply(lambda r : modes[r.name])
modelDF[cols99_2] = modelDF[cols99_2].fillna(modelDF.mode().iloc[0])

# just for Col EDishw, the values are in -ve  (-9, -8 )so replace it in a separate line
modelDF['ESDISHW'] = modelDF['ESDISHW'].apply(lambda r : 0 if (r < 0) else r)

# check if NAN exists
modelDF.isnull().values.sum()

0

In [219]:
modelDF[df_cols[(df_cols.FEATURES_MODEL == "Y") & (df_cols.COLUMN_TYPE == "Categorical")].COLUMN_NAME].describe()

,REGIONC,DIVISION,CELLAR,PRKGPLC1,YEARMADE,OCCUPYY,WINDOWS,ADQINSUL,DRAFTY,FUELPOOL,...,WHEATSIZ,LGTOUTNUM,ESDISHW,PGASHEAT,HHSEX,EMPLOYHH,HOUSEHOLDER_RACE,MONEYPY,RECBATH,LPWATER
count,26973.000000,26973.000000,26973.000000,26973.000000,26973.000000,26973.000000,26973.000000,26973.000000,26973.000000,26973.000000,...,26973.000000,26973.000000,26973.000000,26973.000000,26973.000000,26973.000000,26973.000000,26973.000000,26973.000000,26973.000000
mean,2.639528,5.323842,1.589071,1.257220,4.219849,6.846587,30.275164,1.861046,3.371297,1.034553,...,2.351018,0.530271,1.355911,2.300597,1.450710,0.837356,1.956475,9.597635,0.376970,0.037334
std,1.051262,2.795930,3.087190,2.298351,2.397493,2.193998,16.054884,0.800860,0.906754,0.429598,...,3.804938,0.994582,2.947997,2.888062,0.497574,0.716003,4.427966,6.728926,1.668587,0.189582
min,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,2.000000,3.000000,0.000000,0.000000,2.000000,6.000000,20.000000,1.000000,3.000000,1.000000,...,2.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,5.000000,0.000000,0.000000
50%,3.000000,5.000000,0.000000,1.000000,4.000000,8.000000,30.000000,2.000000,4.000000,1.000000,...,2.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,8.000000,0.000000,0.000000
75%,3.000000,7.000000,1.000000,1.000000,6.000000,8.000000,41.000000,2.000000,4.000000,1.000000,...,3.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,13.000000,0.000000,0.000000
max,4.000000,10.000000,9.000000,9.000000,13.000000,9.000000,60.000000,6.000000,6.000000,21.000000,...,95.000000,15.000000,9.000000,9.000000,2.000000,8.000000,42.000000,24.000000,9.000000,1.000000

In [220]:
descrDF1 = modelDF[df_cols[(df_cols.FEATURES_MODEL == "Y")].COLUMN_NAME].describe()
# transpose to make it easier to obtain columns with values of 99 and -2
descrDF1 = descrDF1.transpose().reset_index()
descrDF1[descrDF1['min'] < 0]

Empty DataFrame
Columns: [index, count, mean, std, min, 25%, 50%, 75%, max]
Index: []

# XGBOOST - Predicting Total Consumption in BTU

In [224]:
# Drop Price / Cost related Columns as it is only Consumption we are interested in 
cost_cols = df_cols[(df_cols['COLUMN_NAME'].str.find("DOL") != -1) & (df_cols.FEATURES_MODEL == "Y")].COLUMN_NAME.tolist()
cost_cols

['DOLLAREL', 'DOLELSPH', 'DOLELCOL', 'DOLELWTH', 'DOLELRFG', 'DOLELOTH']

In [225]:
modelDF[cost_cols].head()

   DOLLAREL  DOLELSPH  DOLELCOL  DOLELWTH  DOLELRFG  DOLELOTH
0    1667.0       0.0     241.0     376.0     183.0    1105.0
1     973.0       0.0     345.0       0.0      70.0     693.0
2     820.0       0.0       0.0     267.0     150.0     403.0
3    4470.0      60.0     698.0       0.0     703.0    3766.0
4    1170.0       0.0     113.0     243.0     202.0     751.0

In [227]:
modelDF_BTU = modelDF.copy()
modelDF_BTU.drop(cost_cols, axis = 1, inplace = True)
print(modelDF_BTU.shape)
modelDF_BTU.columns

(26973, 80)

Index(['REGIONC', 'DIVISION', 'CELLAR', 'STORIES', 'PRKGPLC1', 'YEARMADE',
       'OCCUPYY', 'BEDROOMS', 'NCOMBATH', 'NHAFBATH', 'OTHROOMS', 'TOTROOMS',
       'WINDOWS', 'ADQINSUL', 'DRAFTY', 'FUELPOOL', 'SIZRFRI1', 'TYPERFR1',
       'AGERFRI1', 'SIZRFRI2', 'TYPERFR2', 'AGERFRI2', 'NUMFREEZ', 'SIZFREEZ',
       'AGEFRZR', 'STOVENFUEL', 'OVENUSE', 'AMTMICRO', 'NUMMEAL', 'DWASHUSE',
       'WASHLOAD', 'WASHTEMP', 'EQUIPM', 'FUELHEAT', 'EQUIPAGE', 'PROTHERM',
       'TEMPHOME', 'TEMPGONE', 'TEMPNITE', 'ELECAUX', 'AGECENAC', 'USECENAC',
       'NUMBERAC', 'WWACAGE', 'USEWWAC', 'NUMCFAN', 'FUELH2O', 'WHEATAGE',
       'WHEATSIZ', 'LGTOUTNUM', 'ESDISHW', 'PGASHEAT', 'HHSEX', 'HHAGE',
       'EMPLOYHH', 'HOUSEHOLDER_RACE', 'NHSLDMEM', 'MONEYPY', 'TOTCSQFT',
       'TOTHSQFT', 'TOTUSQFT', 'CDD65', 'HDD65', 'GALLONLP', 'CUFEETNG',
       'BTUEL', 'BTUELSPH', 'BTUELCOL', 'BTUELWTH', 'BTUELRFG', 'BTUELOTH',
       'BTUFO', 'TOTALBTU', 'WOODAMT', 'RECBATH', 'NUMFRIG', 'LPWATER',
       'TVAUDIOEQUIP', 'PCOFFEQUIP', 'PHONE'],
      dtype='object')

In [228]:
# assign target or output to y
y = modelDF_BTU['TOTALBTU']
print(f"shape of y is {y.shape}")

# and drop TOTAL BTU from X set
X = modelDF_BTU.drop(['TOTALBTU'], axis = 1)
print(f"shape of X is {X.shape}")

shape of y is (26973,)
shape of X is (26973, 79)

### Apply one hot encoding on the dataset for all categorical columns

In [ ]:
# TODO: create a OneHotEncoder object, and fit it to all of Categorical Values of X (independent variable)

# dataset that needs OHE
XY = modelDF[df_cols[(df_cols.FEATURES_MODEL == "Y")].COLUMN_NAME]
print(XY.shape)

In [180]:
# CreateCategory Column mask to identify the columns that are categorical 

CATCOLS = df_cols[(df_cols.FEATURES_MODEL == "Y") & (df_cols.COLUMN_TYPE == "Categorical")].COLUMN_NAME.tolist()
XY_CAT_COLS_MASK = modelDF.columns.isin(CATCOLS)

print(XY_CAT_COLS_MASK)
print(len(XY_CAT_COLS_MASK))

[ True  True  True False  True  True  True False False False False False
  True  True  True  True  True  True  True  True  True  True False  True
  True  True False False  True False False  True  True  True  True  True
 False False False  True  True  True False  True  True False  True  True
  True  True  True  True  True False  True  True False  True False False
 False False False False False False False False False False False False
 False False False False False False False False  True False  True False
 False False]
86

In [182]:
# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder(categorical_features = XY_CAT_COLS_MASK, sparse= False)

# 2. FIT
enc.fit(XY)

OneHotEncoder(categorical_features=array([ True,  True, ..., False, False]),
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values='auto', sparse=False)

In [184]:
# 3. Transform
onehotlabels = enc.transform(XY)
onehotlabels.shape

# as you can see, you've the same number of rows 891
# but now you've so many more columns due to how we changed all the categorical data into numerical data

(26973, 372)

In [185]:
onehotlabels

array([[1., 0., 0., ..., 8., 2., 3.],
       [0., 0., 1., ..., 7., 2., 3.],
       [0., 0., 0., ..., 9., 0., 3.],
       ...,
       [0., 1., 0., ..., 4., 0., 1.],
       [0., 0., 1., ..., 4., 2., 2.],
       [0., 1., 0., ..., 6., 2., 2.]])