In [1]:
import pandas as pd
import numpy as np

import csv
import os

In [28]:
dataFilePath = "dataforfinalproject"
datafile = "predict_sample.csv"
colfile = "Final_Columns_withCat.csv"

In [29]:
data_DF = pd.read_csv(os.path.join(dataFilePath, datafile))
df_cols = pd.read_csv(os.path.join(dataFilePath, colfile ), quotechar = '"', quoting = 0)

In [30]:
data_DF

,RECSYEAR,COUNTRY,DOEID,REGIONC,REGIONNAME,DIVISION,DIVISIONNAME,TYPEHUQ,CELLAR,STORIES,...,WDPELLET,WDOTHER,WDWARM,WDWATER,USESOLAR,SOLWATER,SOLOTHER,TVAUDIOEQUIP,PCOFFEQUIP,PHONE
0,2001,United States,1015,1,Northeast,2,Middle Atlantic,2,0,20,...,9,0,0,0,0,0,0,5,4,2
1,2001,United States,2027,3,South,5,South Atlantic,4,0,10,...,9,0,0,0,0,0,0,2,0,1
2,2009,United States,11041,4,West,10,Pacific,2,0,10,...,0,0,1,0,0,0,0,6,0,2
3,2015,United States,15226,2,Midwest,4,West North Central,3,0,20,...,-2,-2,0,0,0,0,0,6,3,1
4,2015,United States,12871,4,West,8,Mountain,3,1,10,...,-2,-2,0,0,0,0,0,7,1,1
5,2001,United States,1001,1,Northeast,1,New England,2,1,31,...,9,0,0,0,0,0,0,8,2,3

In [7]:
keyData = data_DF[df_cols[df_cols.FEATURES_MODEL == "Y"].COLUMN_NAME]
keyData

,REGIONC,DIVISION,CELLAR,STORIES,PRKGPLC1,YEARMADE,OCCUPYY,BEDROOMS,NCOMBATH,NHAFBATH,...,DOLELOTH,TOTALBTU,TOTALDOLLAR,WOODAMT,RECBATH,NUMFRIG,LPWATER,TVAUDIOEQUIP,PCOFFEQUIP,PHONE
0,1,2,0,20,1,2,9,4,1,0,...,1043.00,96923.00,1885.00,0,0,1,0,5,4,2
1,3,5,0,10,9,5,1,1,1,0,...,151.00,25383.00,478.00,0,0,1,0,2,0,1
2,4,10,0,10,0,1,2,5,2,0,...,224.11,15644.00,530.00,3,0,1,0,6,0,2
3,2,4,0,20,0,1,5,3,2,0,...,711.18,90917.01,1598.29,-2,0,2,0,6,3,1
4,4,8,1,10,1,7,7,3,3,0,...,1170.91,98734.79,1996.64,-2,0,2,0,7,1,1
5,1,1,1,31,1,9,9,6,2,1,...,1105.00,149495.00,2767.00,0,0,1,0,8,2,3

In [8]:
# Drop Price / Cost related Columns as it is only Consumption we are interested in 
cost_cols = df_cols[(df_cols['COLUMN_NAME'].str.find("DOL") != -1) & (df_cols.FEATURES_MODEL == "Y")].COLUMN_NAME.tolist()
keyData.drop(cost_cols, axis = 1, inplace = True)

# Also drop the Total BTU cols 
btu_cols = df_cols[(df_cols['COLUMN_NAME'].str.find("TOTALBTU") != -1) & (df_cols.FEATURES_MODEL == "Y")].COLUMN_NAME.tolist()
keyData.drop(btu_cols, axis = 1, inplace = True)

E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [9]:
keyData

,REGIONC,DIVISION,CELLAR,STORIES,PRKGPLC1,YEARMADE,OCCUPYY,BEDROOMS,NCOMBATH,NHAFBATH,...,BTUELRFG,BTUELOTH,BTUFO,WOODAMT,RECBATH,NUMFRIG,LPWATER,TVAUDIOEQUIP,PCOFFEQUIP,PHONE
0,1,2,0,20,1,2,9,4,1,0,...,3271.000,25874.000,71009,0,0,1,0,5,4,2
1,3,5,0,10,9,5,1,1,1,0,...,3325.000,5793.000,0,0,0,1,0,2,0,1
2,4,10,0,10,0,1,2,5,2,0,...,1510.670,6615.650,0,3,0,1,0,6,0,2
3,2,4,0,20,0,1,5,3,2,0,...,2642.909,17353.910,0,-2,0,2,0,6,3,1
4,4,8,1,10,1,7,7,3,3,0,...,3686.343,30618.358,0,-2,0,2,0,7,1,1
5,1,1,1,31,1,9,9,6,2,1,...,5595.000,33750.000,0,0,0,1,0,8,2,3

In [19]:
keyData_new = keyData.T.reset_index()

In [31]:
df_cols.columns

Index(['COLUMN_NAME', 'COLUMN_CAT_ABBR', 'COLUMN_CATEGORY',
       'COLUMN_DESCRIPTION', 'FEATURES_MODEL', 'COLUMN_TYPE', 'REQ_ONEHOTENC'],
      dtype='object')

In [32]:
keyData_fnl = pd.merge(keyData_new, df_cols[['COLUMN_NAME', 'COLUMN_CATEGORY']], left_on = "index", right_on = "COLUMN_NAME")

In [38]:
keyData_fnl.drop(['index'], axis = 1, inplace = True)

KeyError: "['index'] not found in axis"

In [40]:
keyData_fnl.set_index("COLUMN_NAME", inplace = True)

In [41]:
keyData_fnl

,0,1,2,3,4,5,COLUMN_CATEGORY
COLUMN_NAME,,,,,,,
REGIONC,1.0,3.0,4.00,2.000,4.000,1.0,CommonVariables
DIVISION,2.0,5.0,10.00,4.000,8.000,1.0,CommonVariables
CELLAR,0.0,0.0,0.00,0.000,1.000,1.0,Housing Unit Characteristics
STORIES,20.0,10.0,10.00,20.000,10.000,31.0,Housing Unit Characteristics
PRKGPLC1,1.0,9.0,0.00,0.000,1.000,1.0,Housing Unit Characteristics
YEARMADE,2.0,5.0,1.00,1.000,7.000,9.0,Housing Unit Characteristics
OCCUPYY,9.0,1.0,2.00,5.000,7.000,9.0,Housing Unit Characteristics
BEDROOMS,4.0,1.0,5.00,3.000,3.000,6.0,Housing Unit Characteristics
NCOMBATH,1.0,1.0,2.00,2.000,3.000,2.0,Housing Unit Characteristics
NHAFBATH,0.0,0.0,0.00,0.000,0.000,1.0,Housing Unit Characteristics
OTHROOMS,2.0,1.0,3.00,7.000,7.000,4.0,Housing Unit Characteristics
TOTROOMS,7.0,3.0,8.00,10.000,10.000,13.0,Housing Unit Characteristics
WINDOWS,4.0,3.0,42.00,60.000,30.000,6.0,"Water heating, Cooling and Miscell"
ADQINSUL,2.0,1.0,2.00,2.000,1.000,2.0,"Water heating, Cooling and Miscell"
DRAFTY,3.0,3.0,3.00,4.000,4.000,3.0,"Water heating, Cooling and Miscell"
FUELPOOL,99.0,99.0,-2.00,-2.000,-2.000,99.0,Other Appliances
SIZRFRI1,3.0,1.0,3.00,4.000,4.000,4.0,Kitchen Appliances
TYPERFR1,2.0,1.0,22.00,1.000,21.000,2.0,Kitchen Appliances
AGERFRI1,4.0,2.0,5.00,3.000,3.000,2.0,Kitchen Appliances
SIZRFRI2,9.0,9.0,-2.00,4.000,4.000,9.0,Kitchen Appliances
TYPERFR2,9.0,9.0,-2.00,1.000,22.000,9.0,Kitchen Appliances
AGERFRI2,99.0,99.0,-2.00,3.000,3.000,99.0,Kitchen Appliances
NUMFREEZ,0.0,0.0,-2.00,1.000,1.000,0.0,Kitchen Appliances
SIZFREEZ,9.0,9.0,-2.00,3.000,3.000,9.0,Kitchen Appliances
AGEFRZR,99.0,99.0,-2.00,5.000,3.000,99.0,Kitchen Appliances
STOVENFUEL,1.0,1.0,5.00,1.000,1.000,9.0,Kitchen Appliances
OVENUSE,2.0,4.0,0.00,2.000,2.000,9.0,Kitchen Appliances
AMTMICRO,4.0,9.0,3.00,7.000,7.000,2.0,Kitchen Appliances
NUMMEAL,3.0,3.0,2.00,4.000,2.000,4.0,Kitchen Appliances
DWASHUSE,99.0,99.0,-2.00,-2.000,3.000,13.0,Kitchen Appliances
...,...,...,...,...,...,...,...
LGTOUTNUM,0.0,0.0,0.00,2.000,2.000,0.0,"Water heating, Cooling and Miscell"
ESDISHW,-9.0,-9.0,-2.00,-2.000,1.000,-9.0,Other Appliances
PGASHEAT,9.0,1.0,-2.00,1.000,1.000,1.0,Fuels Used and Fuel Payment
HHSEX,1.0,1.0,2.00,1.000,2.000,1.0,Household Characteristics
HHAGE,72.0,46.0,63.00,58.000,70.000,35.0,Household Characteristics
EMPLOYHH,0.0,0.0,0.00,2.000,0.000,1.0,Household Characteristics
HOUSEHOLDER_RACE,1.0,2.0,4.00,1.000,1.000,1.0,Household Characteristics
NHSLDMEM,4.0,1.0,1.00,1.000,1.000,2.0,Household Characteristics
MONEYPY,8.0,2.0,9.00,2.000,4.000,10.0,Household Characteristics
TOTCSQFT,520.0,144.0,458.00,2728.000,2790.000,2440.0,Housing Unit Characteristics
TOTHSQFT,1560.0,288.0,458.00,4092.000,2790.000,2395.0,Housing Unit Characteristics
TOTUSQFT,250.0,0.0,1374.00,0.000,400.000,2885.0,Housing Unit Characteristics
CDD65,1251.0,1669.0,1533.00,643.000,1559.000,769.0,CommonVariables
HDD65,4242.0,2742.0,2843.00,6947.000,4147.000,5549.0,CommonVariables
GALLONLP,0.0,0.0,0.00,0.000,0.000,0.0,Energy Consumption
CUFEETNG,0.0,141.0,0.00,692.995,728.870,958.0,Energy Consumption
BTUEL,25914.0,10874.0,15644.00,23425.496,34813.648,50902.0,Energy Consumption
BTUELSPH,0.0,0.0,3818.23,3711.729,0.000,0.0,Energy Consumption
BTUELCOL,2204.0,1756.0,986.31,2804.378,4756.749,7338.0,Energy Consumption
BTUELWTH,0.0,0.0,2713.45,0.000,0.000,11486.0,Energy Consumption
BTUELRFG,3271.0,3325.0,1510.67,2642.909,3686.343,5595.0,Energy Consumption
BTUELOTH,25874.0,5793.0,6615.65,17353.910,30618.358,33750.0,Energy Consumption
BTUFO,71009.0,0.0,0.00,0.000,0.000,0.0,Energy Consumption
WOODAMT,0.0,0.0,3.00,-2.000,-2.000,0.0,"Water heating, Cooling and Miscell"
RECBATH,0.0,0.0,0.00,0.000,0.000,0.0,Other Appliances
NUMFRIG,1.0,1.0,1.00,2.000,2.000,1.0,Kitchen Appliances
LPWATER,0.0,0.0,0.00,0.000,0.000,0.0,Fuels Used and Fuel Payment
TVAUDIOEQUIP,5.0,2.0,6.00,6.000,7.000,8.0,Other Appliances
PCOFFEQUIP,4.0,0.0,0.00,3.000,1.000,2.0,Other Appliances
PHONE,2.0,1.0,2.00,1.000,1.000,3.0,Other Appliances